extends /layout/_application

prepend Config
  - title = 'Canvas2Dインタラクティブコンテンツ'
  - page = 'canvas-editor'

block content
  section.bg-red
    span.background.dark(style="background-image:url('https://source.unsplash.com/R1J6Z1cnJZc/1600x800')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter
      h1
        strong.start Canvas2Dインタラクティブコンテンツ
      p.text-symbols * * *
    // .end .wrap
