extends /layout/_application

prepend Config
  - title = 'Canvas2Dインタラクティブコンテンツ'
  - page = 'canvas-editor'

block content
  section.bg-red
    span.background.dark(style="background-image:url('https://source.unsplash.com/R1J6Z1cnJZc/1600x800')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter
      h1
        strong.start Canvas2Dインタラクティブコンテンツ
      p.text-symbols * * *
    // .end .wrap
  section
    // .wrap = container (width: 90%)
    .wrap.size-70
      h2
        strong Agenda
      hr
      ol.text-cols
        li トレーニング概要
        li 自己紹介
        li Canvas基礎
        li Canvasを利用したアプリケーション制作
      h5 共有ドキュメント
      a(href='https://bit.ly/2LtySoL', target='_blank') https://bit.ly/2LtySoL
    // .end .wrap
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 トレーニング概要
        p
          | 今回のゴールはこちらのアプリケーション制作 <br>
          <a href="https://pocke777.github.io/pixi-photo-editor/">https://pocke777.github.io/pixi-photo-editor/</a>

        p CodePenを使います <br>
          <a href="https://codepen.io/" target="_blank">https://codepen.io/</a>

    // .end .wrap
  section.fullscreen
    // .wrap = container (width: 90%)
    .card-50
      figure
        img(src='./images/projects/project.png', alt='')
      // end figure
      .flex-content
        h2
          | About Me
        p Kawasaki Atsushi
        p.text-intro
          | Summary Statements About Experience
          br
          br
          |  Frontend
          br
          |  - HTML5/CSS/Javascript
          br
          |  - React.js / Vue.js / Pixi.js / Three.js / jQuery
          br
          |  Backend
          br
          |  - Ruby/PHP
          br
          |  - RubyonRails/FuelPHP/Mysql/Redis
          br
          |  Infra
          br
          |  - AWS / GCP
          br
          |  - EC2/ CloudFront / ELB / S3
          br
          |  - Chef
          br
      // end .flex-content
  section.bg-green
    span.background.dark(style="background-image:url('./images/frontend-web-perperformance/500_F_44222667_luGu7k63raaIXi7MchHHrJVNrjfu16Hc.jpg')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong Canvas基礎
    // .end .wrap

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 Canvas API
        p
          | HTML5 で導入された canvas 要素は、JavaScript によるスクリプティングによって図形などを描画するために使用します。例えば、グラフを描く、写真を合成する、アニメーションを作成する、動画のリアルタイム加工やレンダリングに用いる事が出来ます。
        a(href="https://developer.mozilla.org/ja/docs/Web/HTML/Canvas" target="_blank") https://developer.mozilla.org/ja/docs/Web/HTML/Canvas
    // .end .wrap
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 Canvas API
        p
          | 図形の作成 <br>
          a(href="http://cheatsheetworld.com/programming/html5-canvas-cheat-sheet/" target="_blank") http://cheatsheetworld.com/programming/html5-canvas-cheat-sheet/
          ol
            li 色を変えてみよう
            li 座標を変えてみよう
            li 四角に変更してみよう
        <p data-height="465" data-width="640" data-theme-id="0" data-slug-hash="dqGLLX" data-default-tab="js,result" data-user="pickrusu" data-pen-title="Canvas API" class="codepen">See the Pen <a href="https://codepen.io/pickrusu/pen/dqGLLX/">Canvas API</a> by pickrusu (<a href="https://codepen.io/pickrusu">@pickrusu</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    // .end .wrap
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 Canvas API
        p
          | アニメーション <br>
          | 正弦波のアニメーションに変えてみよう <br>
          <a href="https://ja.wikipedia.org/wiki/%E6%AD%A3%E5%BC%A6%E6%B3%A2">https://ja.wikipedia.org/wiki/%E6%AD%A3%E5%BC%A6%E6%B3%A2</a>
        <p data-height="465" data-theme-id="0" data-slug-hash="JaGqYG" data-default-tab="js,result" data-user="pickrusu" data-pen-title="CanvasAPI2" class="codepen">See the Pen <a href="https://codepen.io/pickrusu/pen/JaGqYG/">CanvasAPI2</a> by pickrusu (<a href="https://codepen.io/pickrusu">@pickrusu</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  section.bg-green
    span.background.dark(style="background-image:url('./images/frontend-web-perperformance/pexels-photo-423367.jpeg')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong Canvasを利用したアプリケーション制作
    // .end .wrap
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 PixiJS
        p
          | Create beautiful digital content with the fastest, most flexible 2D WebGL renderer. <br>
          a(href="https://github.com/pixijs/pixi.js/" target="_blank") https://github.com/pixijs/pixi.js/

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 PixiJS
        p
          | 図形 <br>
          a(href="http://pixijs.download/release/docs/" target="_blank") http://pixijs.download/release/docs/
        <p data-height="465" data-theme-id="0" data-slug-hash="eLJabZ" data-default-tab="js,result" data-user="pickrusu" data-pen-title="PixiJS API" class="codepen">See the Pen <a href="https://codepen.io/pickrusu/pen/eLJabZ/">PixiJS API</a> by pickrusu (<a href="https://codepen.io/pickrusu">@pickrusu</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 PixiJS
        p
          | アニメーション <br>
          a(href="http://pixijs.download/release/docs/" target="_blank") http://pixijs.download/release/docs/
        <p data-height="465" data-theme-id="0" data-slug-hash="mGVZVa" data-default-tab="js,result" data-user="pickrusu" data-pen-title="PixiJS API2" class="codepen">See the Pen <a href="https://codepen.io/pickrusu/pen/mGVZVa/">PixiJS API2</a> by pickrusu (<a href="https://codepen.io/pickrusu">@pickrusu</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 フロントエンド環境構築
        p
          | スケルトン <br>
          a(href="https://github.com/pocke777/pixi-photo-editor/tree/feature/frame" target="_blank") https://github.com/pocke777/pixi-photo-editor/tree/feature/frame
          br
          | ブランチはfeature/frame <br>
          | READMEを読んで環境構築してみよう <br>
          | モジュールバンドラは Parcelを使っているよ <br>

        h5 こんな感じの画面が表示されていればOK
        iframe(src="https://pocke777.github.io/pixi-photo-editor/" width="1280" height="800")

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h2 Canvasに画像を表示しよう
        p
          | コードを参考にCanvasに画像を描画する部分実装してみよう
          br
          | Hintのドキュメントも見てみてね
        <script src="https://gist.github.com/pocke777/79c57a6a750908d4b55d9a2c7beb1b0d.js"></script>
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 Canvasに画像を表示しよう[回答]
        <script src="https://gist.github.com/pocke777/5ca06a669a68b8efefb0580a5a9fe26a.js"></script>
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 Canvasの画像にフィルター効果をかけよう
        p
          | Hintのドキュメントも見てみてね
        <script src="https://gist.github.com/pocke777/883614ad320c8db7a6b0a864cf58788f.js"></script>
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 Canvasの画像にフィルター効果をかけよう[回答]
        p
          | Hintのドキュメントも見てみてね
        <script src="https://gist.github.com/pocke777/93dfe466c5f3b5bd6535215de87f1e3d.js"></script>
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 ここまでのコードのおさらい
        <script src="https://gist.github.com/pocke777/1e280b4aec74e4d98fb5028f16a655f7.js"></script>

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 スタンプ機能をつくろう
        p
          | Hintのドキュメントも見てみてね
        <script src="https://gist.github.com/pocke777/d91e23def843a68c7aac0ee9052a5e2f.js"></script>
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 スタンプ機能をつくろう[回答]
        p
          | Hintのドキュメントも見てみてね
        <script src="https://gist.github.com/pocke777/5e11dd07c1b4bdf54ef675cf4ad4f26a.js"></script>

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 ここまでのコードのおさらい
        <script src="https://gist.github.com/pocke777/e8170eaee6a039f9f20596f5cefa6c8b.js"></script>

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h4 リファクタリング済みのプロジェクトがこちら
        a(href="https://github.com/pocke777/pixi-photo-editor/" target="_blank") https://github.com/pocke777/pixi-photo-editor/

  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h3 告知
        h5 バックエンド・フロントエンドブートキャンプ募集中
        p
          | ・実務によったに近いアプリケーションの作成<br>
          | ・実践的なコードレビュー <br>
          | ・企業マッチング
        <a href="mailto:support@trunk.fm">support@trunk.fm</a>
  section.bg-trans-gradient
    span.background.dark(style="background-image:url('./images/frontend-web-perperformance/pexels-photo-844297.jpeg')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong.end End
    // .end .wrap
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
