extends /layout/_application

prepend Config
  - title = 'モダンWebフロントエンド実践入門 〜カルーセル実装〜'

block content
  // https://jsprimer.net/basic/data-type/
  section.bg-red
    span.background.dark(style="background-image:url('https://source.unsplash.com/R1J6Z1cnJZc/1600x800')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter
      h1
        strong モダンWebフロントエンド実践入門 〜カルーセル実装〜
      h5.text-symbols ***
    // .end .wrap
  section
    // .wrap = container (width: 90%)
    .wrap.size-70
      h2
        strong Agenda
      hr
      ol.text-cols
        li トレーニング概要
        li 自己紹介
        li JavaScriptの基礎文法
        li モダンWebフロントエンド開発
        li カルーセルハンズオン
  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong トレーニング概要
    // .end .wrap
  section.slide-top
    // .wrap = container (width: 90%)
    .wrap
      div
        h1 モダンWebフロントエンド環境でカルーセル実装を行おう！
      // TOOD: 完成形
      h2
        a(href="https://pocke777.github.io/carousel/dest/" target="_blank") DEMO
  section.fullscreen
    span.background.dark(style="background-image:url('./images/cover/profile.png'); width: 60%; height: 120%; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: .4;")
    h2(style="position: relative; font-weight: bold;") WHAT I'M ABOUT
    p(style="position: relative; font-weight: bold;")
      | 株式会社TRUNK TL Kawasaki Atsushi<br>
      | 2013年じげんグループHRメディア事業のPMやバックエンドを担当。<br>
      | 新規事業立ち上げの経験を経てエンジニアリングユニットのマネージャーに従事。<br>
      |
      | 2015年に株式会社カヤックへ入社。<br>
      | クライアントワークや自社サービス(Lobi)のフロントエンド、バックエンドおよびインフラ設計、構築、運用を担当。<br>

  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong JavaScriptの基礎文法
    // .end .wrap

  section.slide-top
    h3 JavaScriptとは
    p
      | JavaScriptはウェブブラウザ、Node.jsを始め、今はIoT（Internet of Things）デバイスなど幅広い環境で動作する言語となっています。 <br><br>
      strong HTML
      | はマークアップ言語で、これを使ってウェブコンテンツに構造と意味を与えます。 例えば段落や見出しや表を定義したり、ページに画像や動画を入れたりします。<br><br>
      strong CSS
      | は HTML コンテンツに適用するスタイリング規則の言語です。 例えば背景とフォントの色を設定したり、複数カラムにコンテンツをレイアウトしたりします。 <br><br>
      strong JavaScript
      | は動的にコンテンツを更新したり、マルチメディアを管理したり、その他多くのことができるスクリプト言語です。

  section.slide-top
    h4 コメント
    p
      | コメントはプログラムとして評価されないため、ソースコードの説明を書くために利用されています。
      | JavaScriptには大きく分けて2種類のコメントがあります。

    h5 一行コメント
    pre: code
      | // 一行コメント
      | // この部分は評価されない

    h5 複数行コメント
    pre: code
      | /* 複数行コメント
      |    囲まれている範囲が評価されない
      |  */

  section.slide-top
    h4 変数と宣言
    p
      | プログラミング言語には、数値などのデータに名前を付けたり繰り返し利用するために、データを保持するための変数があります。
      | JavaScriptでは、「これは変数です」という宣言をするキーワードとして、 var、let、constがあります。

    h5 let
    p
      | letキーワードを使い、現在のスコープに対して変数宣言できます。
    pre: code
      | let bookTitle = "JavaScriptの本";
      | let x; // "x"を定義する
      | let x; // 同じ"x"を定義するとSyntaxErrorとなる

    h5 const
    p
      | 基本的な使い方はletと同じですが、constは再代入できない変数を定義するキーワードです。

    pre: code
      | const bookTitle = "JavaScriptの本";
      | bookTitle = "上書き"; // TypeError: invalid assignment to const `bookTitle'

  section.slide-top
    h4 データ型とリテラル
    p
      | JavaScriptは動的型付け言語に分類される言語であるため、 静的型付け言語のような変数の型はありません。
      | しかし、文字列、数値、真偽値といった値の型は存在します。 これらの値の型のことをデータ型とよびます。
      | データ型を大きく分けると、プリミティブ型とオブジェクトの2つに分類されます。

    h5 プリミティブ型（基本型）
    ul
      li 真偽値（Boolean）: trueまたはfalseのデータ型
      li 数値（Number）: 42 や 3.14159 などの数値のデータ型
      li 文字列（String）: "JavaScript" などの文字列のデータ型
      li undefined: 値が未定義であることを意味するデータ型
      li null: 値が存在しないnull値を意味するデータ型
      li シンボル（Symbol）: ES2015から追加された一意で不変な値のデータ型

    h5 オブジェクト（複合型）
    ul
      li プリミティブ型以外のデータ
      li オブジェクト、配列、関数、正規表現、Dateなど

    pre: code
      | typeof true;// => "boolean"
      | typeof 42; // => "number"
      | typeof "JavaScript"; // => "string"
      | typeof Symbol("シンボル");// => "symbol"
      | typeof undefined; // => "undefined"
      | typeof null; // => "object"
      | typeof ["配列"]; // => "object"
      | typeof { "key": "value" }; // => "object"
      | typeof function() {}; // => "function"

  section.slide-top
    h4 関数と宣言
    p
      | JavaScriptでは、処理をまとめる際に関数やメソッド、クラスを使います。 これらは関数オブジェクトと言われる関数として使えるオブジェクトの一種です。
    pre: code

      | // 関数定義
      | function 関数名(仮引数1, 仮引数2) {
      |     // 関数を呼び出された時の処理
      |     // ...
      |     return 関数が返す値;
      | }
      | // 関数呼び出し
      | 関数名(引数1, 引数2);

    pre: code
      | function multiple(num) {
      |     return num * 2;
      | }
      |
      | console.log(multiple(10)); // => 20

  section.slide-top
    h4 条件分岐
    p
      | if文を使うことで、プログラム内に条件分岐を書くことができます。
      | if文は次のような構文が基本形となり、条件式の評価結果がtrueであるならば、 実行する文が実行されます。
    pre: code
      | if (条件式) {
      |   // 実行する文;
      |   // 実行する文;
      | }

    h5 else if文
    p
      | 複数の条件分岐を書く場合は、if文に続けてelse if文を使うことでできます。 たとえば、次の3つの条件分岐するプログラムを考えます。

    ol
      li version が "ES5" ならば "ECMAScript 5" と出力
      li version が "ES6" ならば "ECMAScript 2015" と出力
      li version が "ES7" ならば "ECMAScript 2016" と出力

    pre: code
      | const version = "ES6";
      | if (version === "ES5") {
      |     console.log("ECMAScript 5");
      | } else if (version === "ES6") {
      |     console.log("ECMAScript 2015");
      | } else if (version === "ES7") {
      |     console.log("ECMAScript 2016");
      | }

  section.slide-top
    h4 今年がうるう年かを判定してみましょう
    p
      | うるう年の条件は次のとおりです。
      ol
        li 西暦で示した年が4で割り切れる年はうるう年です
        li ただし、西暦で示した年が100で割り切れる年はうるう年ではありません
        li ただし、西暦で示した年が400で割り切れる年はうるう年です

    pre: code
      | // 今年の西暦を取得
      | const year = new Date().getFullYear();
      | if (year % 4 === 0) { // 4で割り切れる
      |   // 100で割り切れる年はうるう年ではない
      |   // ただし、400で割り切れる年はうるう年
      | } else {
      |     console.log("うるう年ではありません");
      | }

  section.slide-top
    h4 ループと反復処理
    p
      | プログラミングにおいて、同じ処理を繰り返すために同じコードを書く必要はありません。 ループや再帰呼び出し、イテレータなどを使い、反復処理は抽象化します。 ここでは、もっとも基本的な反復処理と制御文について学んでいきます。

    h5 while文
    p
      | while文は条件式がtrueであるならば、反復処理を行います。
      | while文の実行フローは次のようになります。 最初から条件式がfalseである場合は、何も実行せずwhile文は終了します。
      ol
        li 条件式 の評価結果がtrueなら処理を続け、falseなら終了
        li 実行する文を実行
        li ステップ1へ戻る

    h6 例
    p
      | 次のコードではxの値が10未満であるなら、コンソールへ繰り返しログが出力されます。 また、実行する文にて、xの値を増やし条件式がfalseとなるようにしています。
    pre: code
      | let x = 0;
      | while (x < 10) {
      |     console.log(x);
      |     x += 1;
      | }

  section.slide-top
    h4 FizzBuzz問題をやってみよう
    p
      | FizzBuzzの条件は次のとおりです。
      ol
        li 1 ~ 100 までをループする
        li 3で割り切れる場合はFizzを出力
        li 5で割り切れる場合はBuzzを出力
        li 3と5で割り切れる場合はFizzBuzzを出力
        li それ以外は数値を出力
    pre: code
      | let i = 1;
      | while (i <= 100) {
      |   if (i%3 == 0) {
      |     console.log("Fizz")
      |   } else {
      |     console.log(i)
      |   }
      | }

  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong モダンWebフロントエンド開発
    // .end .wrap
  section.slide-top
    h3 アプリケーション開発の準備
    li Node.jsのインストール
    p
      | Node.jsはサーバーサイドで使うために開発されました。 しかし今ではコマンドラインツールやElectronなどのデスクトップアプリケーションにも利用されています。 そのため、Node.jsはサーバーサイドに限らずクライアントサイドのJavaScript実行環境としても幅広く使われています。

    li npmによるパッケージインストール
    p
      | npmで公開されている実行可能なパッケージのインストール(OSSライブラリ)をします
  section.slide-top
    h3 技術スタック
    ol
      li
        a(href="https://pugjs.org/api/getting-started.html" target="_blank") Pug
      li
        a(href="https://sass-lang.com/" target="_blank") Sass
      li
        a(href="https://developers.google.com/web/shows/ttt/series-2/es2015" target="_blank") ES2015

  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong カルーセル実装ハンズオン
    // .end .wrap

  section.slide-top
    h3 カルーセル実装テンプレート
    iframe(height='465' scrolling='no' title='Carousel Template' src='//codepen.io/pickrusu/embed/jXOvdM/?height=265&theme-id=0&default-tab=html,result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')

  section.bg-green
    span.background.dark(style="background-image:url('./images/cover/0.jpg')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong Thanks

  script(async src="https://static.codepen.io/assets/embed/ei.js")
