extends /layout/_application

block content
  section.bg-red
    span.background.dark(style="background-image:url('/images/hhh/01.jpg')")
    .wrap.aligncenter
      h1
        strong HHH
      p.text-symbols * * *
  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    .wrap.aligncenter.fadeInUp
      h3
        strong オルタナティヴな暮らし
  section.slide-top
    h2 Newzealand
    ul
      li 滞在期間: 1年
      li しごと - バックパッカーズ
    img(src="/images/hhh/02.jpg" width="400")
  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    .wrap.aligncenter.fadeInUp
      h3
        strong Hippie Episode01
  section.slide-top
    h2 Hitch Hike
    img(src="/images/hhh/into-the-wild.jpg" width="800")
    small おばあちゃん
  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    .wrap.aligncenter.fadeInUp
      h3
        strong Hippie Episode02
  section.slide-top
    h2 テント暮らし
    img(src="/images/hhh/kal-visuals-D-S-Sy13Z_0-unsplash.jpg" width="800")

  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    .wrap.aligncenter.fadeInUp
      h3
        strong Hacker Episode03
  section.slide-top
    h2 Died
    img(src="/images/hhh/IMG_7368.JPG" width="800")
    img(src="/images/hhh/DSCF7980.JPG" width="800")
  section.slide-top
    img(src="/images/hhh/IMG_7513.JPG" width="800")

  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    .wrap.aligncenter.fadeInUp
      h3
        strong Hippie Episode04
  section.slide-top
    h2 Drag
    img(src="/images/hhh/P1040592.JPG" width="800")
    img(src="/images/hhh/P1040581.JPG" width="800")
  section.bg-green
    span.background.dark(style="background-image:url('https://images.unsplash.com/photo-1535219241072-7d3c28a49a5c')")
    .wrap.aligncenter.fadeInUp
      h3
        strong Gallery
  section.slide-top
    img(src="/images/hhh/P1040645.JPG" width="800")
  section.slide-top
    img(src="/images/hhh/P1040622.JPG" width="800")
  section.slide-top
    img(src="/images/hhh/P1040622.JPG" width="800")
  section.slide-top
    img(src="/images/hhh/P1040571.JPG" width="800")
  section.slide-top
    img(src="/images/hhh/P1040576.JPG" width="800")
  section.bg-trans-gradient
    span.background.dark(style="background-image:url('./images/frontend-web-perperformance/pexels-photo-844297.jpeg')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter.fadeInUp
      h3
        strong.end End




