extends /layout/_application

prepend Config
  - title = 'Vue.js入門'


block content
  section.bg-red
    span.background.dark(style="background-image:url('https://source.unsplash.com/R1J6Z1cnJZc/1600x800')")
    // .wrap = container (width: 90%)
    .wrap.aligncenter
      h1
        strong Vue.js
      h5.text-symbols ***
    // .end .wrap
